

:root {
  --desaturated-Red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

.josefin-sans-thin {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans-bold {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.coming-soon-container {
  display: flex;
}

.details-container {
  width: 60%;
  padding: 5rem 8rem;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.image-container {
  width: 40%;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-logo-container {
  display: none;
}

.logo-container {
  padding: 0 0 7rem 0;
}

.details h1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 4rem;
  color: var(--dark-grayish-red);
}

.details h1 span {
  color: var(--desaturated-Red);
}

.details p {
  color: var(--desaturated-Red);
  font-size: 16px;
  padding: 2rem 16rem 2rem 0;
  line-height: 30px;
}

.input-container {
  position: relative;
  width: 385px;
}

.input-container input {
  width: 100%;
  padding: 10px 50px 10px 15px;
  border: 1px solid var(--desaturated-Red);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

.input-container input::placeholder {
  color: var(--desaturated-Red);
  opacity: 0.6;
  font-size: 12px;
}

.input-container span {
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  width: 70px; /* Circle diameter */
  height: 40px; /* Circle diameter */
  border-radius: 28px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for button */
  z-index: 1;
}

.input-container .icon-span img {
  width: 16px;
  height: 16px;
}

.error-message {
  margin-top: 5px !important;
  font-size: 12px !important;
  color: var(--desaturated-Red) !important;
  display: none;
  position: absolute !important;
  top: 37px !important;
  padding: 0 !important;
  width: 203px !important;
  right: 161px !important;
}

@media (max-width: 1200px) {
  .details-container {
    padding: 2rem 6rem;
  }

  .logo-container {
    padding: 0 0 4rem 0;
  }

  .details h1 {
    font-size: 3rem;
  }

  .details p {
    padding: 2rem 12rem 2rem 0px;
  }
}

@media (max-width: 991px) {
  .details-container {
    padding: 2rem 3rem;
  }

  .details p {
    padding: 2rem 9rem 2rem 0px;
  }
}

@media (max-width: 768px) {
  .coming-soon-container {
    flex-direction: column-reverse;
  }

  .logo-container {
    display: none;
  }

  .main-logo-container {
    display: block;
    padding: 1rem 2rem;
  }

  .image-container {
    width: 100%;
    height: 200px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .details-container {
    width: 100%;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }
  .details h1 {
    text-align: center;
  }

  .details p {
    width: 400px;
    padding: 2rem 0;
  }
}

@media (max-width: 375px) {
  .image-container{
    height: 250px;
  }
  
  .image-container img {
    object-fit: cover;
    object-position: top;
  }

  .details h1 {
    font-size: 2rem;
  }

  .details p {
    width: 335px;
    font-size: 14px;
    padding: 2rem 10px;
    text-align: center;
  }

  .input-container {
    width: 300px;
  }
}